* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: black;
	color: white;
}

#nav, #full-content {
	max-width: 1100px;
}

img {
	margin-left: 10%;
}

#nav {
	padding: 1% 15% 0;
}

#nav ul {
	list-style-type: none;
	text-align: right;
	float: right;
	padding-top: 5%;
	width: 81%
}

#nav li {
	display: inline;
	margin-left: 7%;
}

#nav li:first-child {
	margin: 0;
}

#full-content {
	margin: 0 10%;
	background: url('images/cadillac.jpg') no-repeat -30px -50px;
	background-size: 40%; 
	border-bottom: 3px solid lightblue;
	padding-bottom: 30px;
}

#full-header {
	margin-top: 25px;
	height: 400px;
	width: 100%;
}

#company-header {
	width: 45%;
	height: 100%;
	float: left;
}

#title {
	height: 45%;
	padding-top: 15px;
	text-align: right;
}

#company-tag {
	margin-left: 20%;
	background-color: black;
	height: 100%;
}

#tag-top {
	height: 30%;
}

#tag-top h2 {
	display: inline-block;
	padding-top: 10px;
}

#box {
	height: 30px;
	width: 30px;
	margin: 10px;
	background-color: blue;
	float: left;
}

#tag-bottom {
	margin-top: 20px;
	height: 70%;
}

#company-tag p {	
	color: lightblue;
	font-weight: bold;
}

#header-video {
	background-color: white;
	width: 53%;
	float: right;
	height: 100%;
}

#content-left {
	float: left;
	width: 48.5%;
}
#content-right {
	float: right;
	width: 48.5%;
}
.group {
	content: "";
	display: table;
	clear: both;
}

#content-right img {
	/*width: 40%;*/
	margin: 4% 0;
	height: 137px;
}

#right-image {
	padding-left: 3%;
}

#content-right ul {
	padding: 4% 7%;
}

#content-right li {
	padding: 4px 0;
}


footer {
	padding: 20px 0 40px;
}

footer ul {
	list-style-type: none;
	text-align:	center;
}

footer li {
	padding: 0 6px 0 3px;
	border-right: 1px solid white;
	display: inline;
}

footer li:last-child {
	border: none;
}